@{
    ViewData["Title"] = "Add New Server";
}

<div class="col-12">
    <h4>@ViewData["Title"]</h4>
    <hr />
    <form class="form" method="POST">
        <div class="form-group">
            <label for="serverName">Display Name</label>
            <input type="text" class="form-control" id="serverName" name="name" placeholder="Enter A Name For The Server" />
        </div>
        <div class="form-group">
            <label for="serverAddress">URL</label>
            <input type="text" class="form-control" id="serverAddress" name="url" placeholder="Enter Server Address" />
        </div>
        <div class="form-group">
            <label for="serverToken">Token</label>
            <input type="text" class="form-control" id="serverToken" name="token" placeholder="Enter Token" />
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
    </form>
</div>
